<footer class="site-footer">
  <div class="container site-footer__inner">
    <div class="site-footer__intro">
      <h2>Dolor sit amet</h2>
      <p>Dolor sit amet, consectetur adipng elit, sed do eiusmod tempor.</p>
    </div>
    <nav class="site-footer__links">
      <ul>
        <li><a href="{{ '/about/' | relative_url }}">About Me</a></li>
        <li><a href="{{ '/case-studies/' | relative_url }}">Case Studies</a></li>
        <li><a href="{{ '/writing/' | relative_url }}">Writing</a></li>
        <li><a href="{{ '/ux-resources/' | relative_url }}">UX Resources</a></li>
      </ul>
      <ul>
        <li><a href="{{ '/resume/' | relative_url }}">Resume</a></li>
        <li><a href="https://linkedin.com">LinkedIn</a></li>
        <li><a href="mailto:hello@alidahorsley.com">Email</a></li>
      </ul>
    </nav>
  </div>
</footer>
